[Unit]
Description=Weather for tiny-dfr
After=network-online.target

[Service]
ExecStart=/usr/local/bin/tiny-dfr-weather
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
